<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Easy1K.Properties.Settings.IASConnectionString" connectionString="Data Source=SERVER_NAME;Initial Catalog=CATALOG_NAME;Persist Security Info=True;User ID=sa;Password=***" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <appSettings>
  <add key="rep_file_path" value="D:\Мои документы\1-К\1-K.docx"/>
  <add key="rep_word_save_path" value="D:\Мои документы\1-К\2021\"/>
  <add key="UMVDboss_dol" value=""/>
  <add key="UMVDboss_zv" value=""/>
  <add key="UMVDboss_name" value=""/>
  <add key="URLSboss_zv" value=""/>
  <add key="URLSboss_name" value=""/>
  <add key="ISP_zv" value=""/>
  <add key="ISP_name" value=""/>
  <add key="UUPSelo" value=""/>
  <add key="calc_date" value="31.12.2022"/>
  <add key="script_date" value="31.12.2022"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
